@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1{
  border-color: #24005e;
}
h1{
  border-color: rgba(207, 1, 207, 0.9);
}
h1{
  border-color: rgba(rgb(9, 0, 136), (9, 0, 136), (9, 0, 136), 0.5);

}
.menubar{
  visibility: hidden;
  
}

/* styles.module.css */
@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 55%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.aminate{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fadeIn 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}
@keyframes fade {
  0% {
    width: 100%;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.amat{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fade 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}

@media (max-width: 1280px) {

  .text1{
    font-size: 25px;
  }
  .uline {
    width: 220px;
  }
  .text2{
    font-size: 45px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 70px;
    width: 100%;
  }
  .wheel{
    height: 55px;
    width: 55px;
    font-size: 25px;
  }
  .name{
    font-size: 25px;
  }
  .op{
    font-size: 15px;
    padding: 8px;
    
  }
  .lister{
    font-size: 18px;
    padding: 8px;
  }
  
/* styles.module.css */
@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 60%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.aminate{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fadeIn 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}
@keyframes fade {
  0% {
    width: 100%;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.amat{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fade 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}
}


  


@media (max-width: 1024px)and (max-height: 600px) {

  .text1{
    font-size: 25px;
  }
  .uline {
    width: 220px;
  }
  .text2{
    font-size: 45px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 70px;
    width: 100%;
  }
  .wheel{
    height: 55px;
    width: 55px;
    font-size: 25px;
  }
  .name{
    font-size: 25px;
  }
  .op{
    font-size: 15px;
    padding: 8px;
  }
  .lister{
    font-size: 18px;
    padding: 8px;
  }
 
  .content{
    height: 500px;
  }
}

@media  (max-width: 912px) {

  .text1{
    font-size: 30px;
  }
  .uline {
    width: 260px;
  }
  .text2{
    font-size: 50px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 80px;
   display: flex;
   justify-content: space-between;
    
    
  }
  .namicon{
    display: none;
  }
  .op{
    font-size: 25px;
    padding: 6px;
    
    
  }
  .lister{
    display: none;
    
    
  }
  .menubar{
    visibility:visible;
    font-size: 60px;
    color: white;
    padding-bottom: 20px;
  }
  .opnav{
    width: 100%;
   
    
  }
  .box{
    width: 100%;
  }
  

  .content{ 
    flex-direction: column-reverse;
    padding-top: 20px;
    height: 700px;
  }

  .list{
    background-color: black;
    width: 150px;
    font-size: 10px;
    position: absolute;
    top: 70px;

  }
  .listh{
    font-size: 13px;
    
  }
  .boxop{
    gap: 30px;
  }
  
/* styles.module.css */
@keyframes fadeIn {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 64%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.aminate{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fadeIn 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}
@keyframes fade {
  0% {
    width: 100%;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

.amat{
  overflow: hidden; /* Hidden text overflow */
  white-space: nowrap; /* Single line text */
  animation: fade 4s ease-in-out infinite; /* Animation ka naam aur duration */
  border-right: 2px solid; /* Cursor effect */
}
 
 
}

@media (min-width: 413px) and (max-width: 540px) {

  .text1{
    font-size: 25px;
  }
  .uline {
    width: 230px;
  }
  .text2{
    font-size: 43px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 80px;
   display: flex;
   justify-content: space-between;
    
    
  }
  .namicon{

    display:none;
   
  }
  .op{
    font-size: 20px;
    padding: 2px;
    
  }
  .lister{
    display: none;
    font-size: 0px;
    padding: 0px;
    gap: 0px;
    margin: 0px;
    
    
  }
  .menubar{
    visibility:visible;
    font-size: 40px;
    color: white;
  }
  .opnav{
    width: 100%;
    
    
    
  }
  .box{
    width: 100%;
  }
  

  .content{ 
    flex-direction: column-reverse;
    padding-top: 20px;
    height: 600px;
  }

  .list{
    background-color: black;
    width: 150px;
    font-size: 10px;
    position: absolute;
    top: 70px;

  }
  .listh{
    font-size: 13px;
    
  }
  .boxop{
    gap: 13px;
  }
 
 
}


@media (min-width: 345px) and (max-width: 412px) {

  .text1{
    font-size: 20px;
  }
  .uline {
    width: 200px;
  }
  .text2{
    font-size: 38px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 80px;
   display: flex;
   justify-content: space-between;
    
    
  }
  .namicon{
    display: none;
  }
  .op{
    font-size: 15px;
    padding: 2px;
    
  }
  .lister{
    display: none;
    
    
  }
  .menubar{
    visibility:visible;
    font-size: 40px;
    color: white;
  }
  .opnav{
    width: 100%;
   
    
  }
  .box{
    width: 100%;
  }
  

  .content{ 
    flex-direction: column-reverse;
    padding-top: 20px;
    height: 500px;
  }

  .list{
    background-color: black;
    width: 150px;
    font-size: 10px;
    position: absolute;
    top: 70px;

  }
  .listh{
    font-size: 13px;
    
  }
  .boxop{
    gap: 13px;
  }
 
 
}

@media (max-width: 344px) {

  .text1{
    font-size: 15px;
  }
  .uline {
    width: 150px;
  }
  .text2{
    font-size: 28px;
  }
  .pic{
    height: 300px;
    width: 300px;
  }
  .bodi{
    height: 80px;
   display: flex;
   justify-content: space-between;
    
    
  }
  .namicon{
    display: none;
  
  }
  .op{
    font-size: 13px;
    padding: 2px;
    
  }
  .lister{
    display: none;
    
    
  }
  .menubar{
    visibility:visible;
    font-size: 35px;
    color: white;
  }
  .opnav{
    width: 100%;
    
    
  }
  .box{
    width: 100%;
  }
  

  .content{ 
    flex-direction: column-reverse;
    padding-top: 20px;
    height: 500px;
  }

  .list{
    background-color: black;
    width: 150px;
    font-size: 10px;
    position: absolute;
    top: 70px;

  }
  .listh{
    font-size: 13px;
    
  }
  .boxop{
    gap: 13px;
  }
 
 
}